[submodule "imports/z80-assembler-haskell"]
	path = import/z80-assembler-haskell
	url = https://github.com/gergoerdi/z80-assembler-haskell.git
[submodule "import/z80-utils-haskell"]
	path = import/z80-utils-haskell
	url = https://github.com/gergoerdi/z80-utils-haskell.git
